.title {
  position: absolute;
  color: white;
  text-align: center;
  line-height: 430px;
  font-weight: bold;
  font-size: 24pt;
}

.orange {
  color: #FF9300;
}

.rose {
  color: #EF5FA7;
}

.green {
  color: #61D836;
}

.blue {
  color: #00A2FF;
}

.ml {
  margin-left: 30px;
}

.ml2 {
  margin-left: 50px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.flex-33 {
  flex: 0 0 33%;
}

.outside {
  position: relative;
  height: 430px;
  width: 832px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 430px;
  position: relative;
  background-image: linear-gradient(to right, #155799, #159957);
}
.container .block-one div:nth-child(1) {
  animation-delay: 3.15s;
}
.container .block-one div:nth-child(2) {
  animation-delay: 3.3s;
}
.container .block-one div:nth-child(3) {
  animation-delay: 3.45s;
}
.container .block-one div:nth-child(4) {
  animation-delay: 3.6s;
}
.container .block-one div:nth-child(5) {
  animation-delay: 3.75s;
}
.container .block-one div:nth-child(6) {
  animation-delay: 3.9s;
}
.container .block-one div:nth-child(7) {
  animation-delay: 4.05s;
}
.container .block-one div:nth-child(8) {
  animation-delay: 4.2s;
}
.container .block-one div:nth-child(9) {
  animation-delay: 4.35s;
}
.container .block-one div:nth-child(10) {
  animation-delay: 4.5s;
}
.container .block-one div:nth-child(11) {
  animation-delay: 4.65s;
}
.container .block-one div:nth-child(12) {
  animation-delay: 4.8s;
}
.container .block-one div:nth-child(13) {
  animation-delay: 4.95s;
}
.container .block-one div:nth-child(14) {
  animation-delay: 5.1s;
}
.container .block-one div:nth-child(15) {
  animation-delay: 5.25s;
}
.container .block-one div:nth-child(16) {
  animation-delay: 5.4s;
}
.container .block-one div:nth-child(17) {
  animation-delay: 5.55s;
}
.container .block-one div:nth-child(18) {
  animation-delay: 5.7s;
}
.container .block-one div:nth-child(19) {
  animation-delay: 5.85s;
}
.container .block-one div:nth-child(20) {
  animation-delay: 6s;
}
.container .block-one div:nth-child(21) {
  animation-delay: 6.15s;
}
.container .block-one div:nth-child(22) {
  animation-delay: 6.3s;
}
.container .block-one div:nth-child(23) {
  animation-delay: 6.45s;
}
.container .block-one div:nth-child(24) {
  animation-delay: 6.6s;
}
.container .block-one div:nth-child(25) {
  animation-delay: 6.75s;
}
.container .block-one div:nth-child(26) {
  animation-delay: 6.9s;
}
.container .block-one div:nth-child(27) {
  animation-delay: 7.05s;
}
.container .block-one div:nth-child(28) {
  animation-delay: 7.2s;
}
.container .block-one div:nth-child(29) {
  animation-delay: 7.35s;
}
.container .block-two div:nth-child(1) {
  animation-delay: 6.15s;
}
.container .block-two div:nth-child(2) {
  animation-delay: 6.3s;
}
.container .block-two div:nth-child(3) {
  animation-delay: 6.45s;
}
.container .block-two div:nth-child(4) {
  animation-delay: 6.6s;
}
.container .block-two div:nth-child(5) {
  animation-delay: 6.75s;
}
.container .block-two div:nth-child(6) {
  animation-delay: 6.9s;
}
.container .block-two div:nth-child(7) {
  animation-delay: 7.05s;
}
.container .block-two div:nth-child(8) {
  animation-delay: 7.2s;
}
.container .block-two div:nth-child(9) {
  animation-delay: 7.35s;
}
.container .block-two div:nth-child(10) {
  animation-delay: 7.5s;
}
.container .block-two div:nth-child(11) {
  animation-delay: 7.65s;
}
.container .block-two div:nth-child(12) {
  animation-delay: 7.8s;
}
.container .block-two div:nth-child(13) {
  animation-delay: 7.95s;
}
.container .block-two div:nth-child(14) {
  animation-delay: 8.1s;
}
.container .block-two div:nth-child(15) {
  animation-delay: 8.25s;
}
.container .block-two div:nth-child(16) {
  animation-delay: 8.4s;
}
.container .block-two div:nth-child(17) {
  animation-delay: 8.55s;
}
.container .block-two div:nth-child(18) {
  animation-delay: 8.7s;
}
.container .block-two div:nth-child(19) {
  animation-delay: 8.85s;
}
.container .block-two div:nth-child(20) {
  animation-delay: 9s;
}
.container .block-two div:nth-child(21) {
  animation-delay: 9.15s;
}
.container .block-two div:nth-child(22) {
  animation-delay: 9.3s;
}
.container .block-two div:nth-child(23) {
  animation-delay: 9.45s;
}
.container .block-two div:nth-child(24) {
  animation-delay: 9.6s;
}
.container .block-two div:nth-child(25) {
  animation-delay: 9.75s;
}
.container .block-two div:nth-child(26) {
  animation-delay: 9.9s;
}
.container .block-two div:nth-child(27) {
  animation-delay: 10.05s;
}
.container .block-two div:nth-child(28) {
  animation-delay: 10.2s;
}
.container .block-two div:nth-child(29) {
  animation-delay: 10.35s;
}
.container .block-three div:nth-child(1) {
  animation-delay: 9.15s;
}
.container .block-three div:nth-child(2) {
  animation-delay: 9.3s;
}
.container .block-three div:nth-child(3) {
  animation-delay: 9.45s;
}
.container .block-three div:nth-child(4) {
  animation-delay: 9.6s;
}
.container .block-three div:nth-child(5) {
  animation-delay: 9.75s;
}
.container .block-three div:nth-child(6) {
  animation-delay: 9.9s;
}
.container .block-three div:nth-child(7) {
  animation-delay: 10.05s;
}
.container .block-three div:nth-child(8) {
  animation-delay: 10.2s;
}
.container .block-three div:nth-child(9) {
  animation-delay: 10.35s;
}
.container .block-three div:nth-child(10) {
  animation-delay: 10.5s;
}
.container .block-three div:nth-child(11) {
  animation-delay: 10.65s;
}
.container .block-three div:nth-child(12) {
  animation-delay: 10.8s;
}
.container .block-three div:nth-child(13) {
  animation-delay: 10.95s;
}
.container .block-three div:nth-child(14) {
  animation-delay: 11.1s;
}
.container .block-three div:nth-child(15) {
  animation-delay: 11.25s;
}
.container .block-three div:nth-child(16) {
  animation-delay: 11.4s;
}
.container .block-three div:nth-child(17) {
  animation-delay: 11.55s;
}
.container .block-three div:nth-child(18) {
  animation-delay: 11.7s;
}
.container .block-three div:nth-child(19) {
  animation-delay: 11.85s;
}
.container .block-three div:nth-child(20) {
  animation-delay: 12s;
}
.container .block-three div:nth-child(21) {
  animation-delay: 12.15s;
}
.container .block-three div:nth-child(22) {
  animation-delay: 12.3s;
}
.container .block-three div:nth-child(23) {
  animation-delay: 12.45s;
}
.container .block-three div:nth-child(24) {
  animation-delay: 12.6s;
}
.container .block-three div:nth-child(25) {
  animation-delay: 12.75s;
}
.container .block-three div:nth-child(26) {
  animation-delay: 12.9s;
}
.container .block-three div:nth-child(27) {
  animation-delay: 13.05s;
}
.container .block-three div:nth-child(28) {
  animation-delay: 13.2s;
}
.container .block-three div:nth-child(29) {
  animation-delay: 13.35s;
}
.container:before {
  content: "";
  position: absolute;
  top: 5px;
  width: 420px;
  height: 420px;
  background: #222;
  border-radius: 100%;
  transition: all 500ms cubic-bezier(1, 0.885, 0.32, 1);
  left: calc(50% - 200px);
  animation: scaleSphere 14s linear 2s 1 forwards;
}

.div-33 {
  width: 30%;
  display: inline-block;
}

.poi-block {
  width: 100%;
  display: flex;
  height: 430px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.plain-apache-poi {
  animation: fadeOut 0.5s ease-out 12.5s forwards;
  font-size: 11px;
}
.plain-apache-poi .title {
  animation: plainPoi 3s forwards;
}

.mempoi {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation: fadeIn 0.1s linear 12s forwards;
}
.mempoi .title {
  position: relative;
  opacity: 0;
  animation: mempoiPowered 2s ease-out 13s forwards;
  white-space: nowrap;
  flex: 0 0 100%;
}
.mempoi .mempoi-code {
  font-size: 24px;
  opacity: 0;
  animation: fadeIn 1s ease-out 15.5s forwards;
  flex: 0 0 100%;
  position: absolute;
}

.final-mempoi-powered {
  opacity: 0;
  position: absolute;
  top: 300px;
  right: 100px;
  font-size: 16px;
  color: white;
  animation: fadeIn 2s ease-out 17s forwards;
  padding: 4px;
  border-radius: 3px;
  background-image: linear-gradient(to right, #155799, #159957);
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-10px);
    -moz-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@-moz-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-10px);
    -moz-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-100px);
    -moz-transform: translatex(-100px);
    -o-transform: translatex(-100px);
    transform: translatex(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
.in-left {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-duration: 0.2s;
  animation-delay: 0.2s;
  color: white;
}

@keyframes plainPoi {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    transform: scaleY(2.4);
  }
  75% {
    transform: scaleY(0.9);
  }
  80% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes scaleSphere {
  5% {
    -webkit-transform: scale(4);
    transform: scale(4);
  }
  75% {
    -webkit-transform: scale(4);
    transform: scale(4);
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  95% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(4);
    transform: scale(4);
  }
}
@keyframes mempoiPowered {
  0% {
    opacity: 0;
    font-size: 500pt;
  }
  30% {
    opacity: 1;
    font-size: 26pt;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
